@import '../../App.scss';
@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
  }

.header{
    padding: 20px 10px;
    box-sizing: border-box;
    position: relative;

    .basket-container{
        position: absolute;
        top:70px;
        right: 0;
        width: 0;
        height: 0;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;
        flex-direction: column;
        overflow: hidden;
        opacity: 0.9;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-shadow: 0 1px 3px #444;
        min-height: 200px;

        .basketHead{
            min-width: 100%;
            background-color: green;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0;

            p {
                @include flex-center();
                &:first-child {
                  min-width: 25px;
                }
                &:nth-child(2) {
                  min-width: 25px;
                }
                &:nth-child(3) {
                    min-width: 130px;
                }
                &:nth-child(4) {
                    min-width: 50px;
                }
                &:nth-child(5) {
                    min-width: 50px;
                }
                &:nth-child(6) {
                    min-width: 100px;
                }
              }

        }

        .basketItem{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-width: 100%;
            width: 100%;
            height: 50px;

            p {
                @include flex-center();
                &:first-child {
                  min-width: 25px;
                }
                &:nth-child(2) {
                  min-width: 25px;
                }
                &:nth-child(3) {
                    min-width: 50px;
                }
                &:nth-child(4) {
                    min-width: 50px;
                }
                &:nth-child(5) {
                    min-width: 50px;
                }
                &:nth-child(6) {
                    min-width: 100px;
                }
              }

            h4{
                    text-align: center;
                    align-items: center;
                    justify-content: flex-start;
                    min-width: 130px;
            }
            
            &:hover{
                cursor: pointer;
                background-color: #bbb;
            }
        }

        .emptyBasket{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px 0;

            img{
                width: 50%;
                height: auto;
            }
        }

        .removeItem{
            color:red;
            transition: color 0.4s ease-in;
            &:hover{
                cursor:pointer;
                color:rgb(83, 12, 12);
            }
        }
    }

    .logo{
        h1{
            font-size: 46px;
            font-family: 'Dancing Script', cursive;
            background: -webkit-linear-gradient(#34248e, rgb(233, 89, 233));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // border-right: 1px solid rgb(225, 0, 255);
            // border-bottom: 3px solid rgb(132, 28, 56);
            padding: 10px;
            padding-top: 0;
            box-sizing: border-box;
        }
        
    }
    
    .menu{
        // position: relative;
        width: 70%;
    
        ul{
            list-style-type: none;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill,minmax(10%,1fr));
            grid-template-rows: 1fr;
    
            li{
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &:hover{
                    transform: scale(1.04);
                }
                
            }
    
            .basketIcon{
                font-size: 30px;
                color: rgb(233, 89, 233);
                transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
               position: absolute;
               right: 30px;
               @media only screen and (min-width: 230px) and (max-width: 800px) { 
                font-size: 20px;      
                }
                &:hover{
                    cursor: pointer;
                    color: blue;
                }
    
            }
    
            @media only screen and (min-width: 230px) and (max-width: 800px) { 
                grid-gap: 5px;
                grid-template-columns: repeat(auto-fill,minmax(15%,1fr));
                
            }
        }
    
    
    
        a{
            text-decoration: none;
            color: $lightBlack;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
    
            
            @media only screen and (min-width: 230px) and (max-width: 800px) {
                font-size: 14px;
            }
        }
    
    }
}


