@import '../../App.scss';
.header{
    position: relative;
    padding: 20px 10px;
    box-sizing: border-box;

    .basketContainer{
        position: absolute;
        top: 70px;
        right:0;
        width: 0px;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;
        flex-direction: column;
        overflow: hidden;
        opacity: 0.9;
        box-shadow: 0 1px 3px #444;
        min-height: 200px;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        .basketItem{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-width: 100%;
            // background-color: red;
        }

        .basketHead{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-width: 100%;
            background-color: rgb(43, 43, 43);
            color: white;
            padding:5px;
        }
    }

    .logo{
        h1{
            font-size: 36px;
            font-family: cursive;
            background: -webkit-linear-gradient(#34248e, rgb(233, 89, 233));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-right: 1px solid rgb(225, 0, 255);
            border-bottom: 3px solid rgb(132, 28, 56);
            padding: 10px;
            padding-top: 0;
            box-sizing: border-box;
        }
        
    }
    
    .menu{
        // position: relative;
        width: 70%;
    
        ul{
            list-style-type: none;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill,minmax(10%,1fr));
            grid-template-rows: 1fr;
    
            li{
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &:hover{
                    transform: scale(1.04);
                }
                
            }
    
            .basketIcon{
                font-size: 30px;
                color: rgb(233, 89, 233);
                transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
               position: absolute;
               right: 30px;
               @media only screen and (min-width: 230px) and (max-width: 800px) { 
                font-size: 20px;      
                }
                &:hover{
                    cursor: pointer;
                    color: blue;
                }
    
            }
    
            @media only screen and (min-width: 230px) and (max-width: 800px) { 
                grid-gap: 5px;
                grid-template-columns: repeat(auto-fill,minmax(15%,1fr));
                
            }
        }
    
    
    
        a{
            text-decoration: none;
            color: $lightBlack;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
    
            
            @media only screen and (min-width: 230px) and (max-width: 800px) {
                font-size: 14px;
            }
        }
    
    }
}


